<ion-header-bar style="text-align: center; background: #344b4a " class="item-input-inset" >
    <a ui-sref="personal"><div class="icon ion-chevron-left" style=" line-height: 38px; font-size:18px;color:#fff;"> 后退</div></a>
    <span style="text-align: center;font-size: 18px;color:#fff;margin-left: 27%;">车辆管理</span>
    <div class="icon ion-trash-a" style="float: right; font-size: 30px; margin-left: 29%;color: #fff;"></div>
</ion-header-bar>
<ion-view view-title="预约车位">
    <ion-content style="height: 100%;background: #040c0c;">
        <div style="color:#fff; font-size: 30px; padding-bottom: 15px; margin-top:15%; margin-left:30%;border-bottom: 1px solid #fff;display:inline-block;">川A·35325</div>
        <img src="images/06_02.png" style="width:100%; margin-top: 10%;">
        <div class="col-offset-10" style="width:80%;height:50px; border: 1px solid #fff; border-radius: 8px;margin-top: 20%">
            <div class="icon ion-ios-plus-outline" style="margin-left: 20%;color:#fff;font-size: 30px; line-height: 50px;"> 添加车辆</div>
        </div>
    </ion-content>
</ion-view>