<ion-nav-bar class="bar-dark">
    <ion-nav-back-button>后退</ion-nav-back-button>
    <ion-view view-title="预约车位">
        <ion-content style="height: 100%">
            <div class="list" style="height:625px;width:100%;background: url('images/预约车位_02.png') no-repeat; background-size: cover;">

                <div style="margin: 142% auto -142%;text-align: center;">
                    <div class="item" style="height:91px; background: rgba(0,0,0,.5); text-align: center;">
                        <p ng-click="yu()" style="height:50px;width:50px; border-radius: 50%; background: #263f3f;margin:-10px auto;line-height:50px;color:#fff;">预约</p>
                        <p style="color: #fff;font-size: 15px; padding-top: 10px;">成都伊藤洋华堂高新店停车场</p>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>
</ion-nav-bar>