
<ion-nav-view>
    <ion-header-bar style="text-align: center; color:blue; background: rgba(0,0,0,0)">
        <a ui-sref="scanning" class="button button-icon ion-android-expand stable"></a>
        <h1 class="title" style="height:44px; font:normal 20px/44px '宋体';text-align: center; color: #fff;">快捷停车</h1>
        <a  ui-sref="setup" class="button button-icon ion-gear-b stable"></a>
    </ion-header-bar>
    <ion-nav-view style="padding-top: 50px; background: url('images/2.gif') no-repeat; background-size: cover;">
        <ion-content class="col-offset-10 " style="margin-top: 10%;margin-right: 10%; margin-bottom: 10%; background: rgba(0,0,0,0);">
            <div style="padding-top: 15px; color:#fff;background: rgba(0,0,0,0.3)"><img src="images/首页_03.png" style="height:40px;width:45px; padding-left: 15px;">
                <div style="font-size: 30px; padding-left: 50px; margin-top: -30px;">成都</div>
                <div style="font-size: 22px; padding-left: 125px; margin-top: -15px;">9月9日 星期五</div>
                <div style="font-size: 20px; padding-left: 35px; margin-top: 20px;">15~25℃</div>
                <div style="font-size: 22px; padding-left: 125px; margin-top:-20px;">限行：不限行</div>
            </div>
                <div class="list" style="background: rgba(0,0,0,0.3)" >
                    <div class="item" style="background: rgba(0,0,0,0); margin-left:-16px; margin-top: 25px;">
                        <a ui-sref="lookFor"  ><div class="col-offset-10" style="float: left;padding: 5px 10px 0 30px;"><img src="images/002_1.png" style="height:50px;width:35px;"><div style="color:#fff; margin-left: -7px; margin-top: 15px;">找车位</div></div></a>
                        <div  class="col-offset-10"  style="width:1px;margin-left: 36px; height:90px; float: left; background: #fff;"></div>
                        <a ui-sref="pay" ><div class="col-offset-10" style="float: left;padding: 5px 20px 0"><img src="images/002_2.png" style="height:50px;width:50px;"><div style="color:#fff; margin-left: -9px;margin-top: 12px;padding-bottom: 5px;">停车缴费</div></div></a>
                    </div>
                    <div class="item" style="background: rgba(0,0,0,0); margin-left:-16px;">
                        <a ui-sref="market" ><div class="col-offset-10"  style="float: left;padding: 5px 10px 0 25px;"><img src="images/002_3.png" style="height:40px;width:40px;"><div style="color:#fff; margin-left: -13px; margin-top: 15px;">车位市场</div></div></a>
                        <div  class="col-offset-10"  style="width:1px;margin-left: 31px; height:90px; float: left; background: #fff;"></div>
                        <a ui-sref="bespeak" ><div class="col-offset-10"  style="float: left;padding: 5px 20px 0 ;"><img src="images/002_4.png" style="height:40px;width:50px;"><div style="color:#fff; margin-left: -6px;margin-top: 17px;padding-bottom: 5px;">预约停车</div></div></a>
                    </div>
                    <div class="item" style="background: rgba(0,0,0,0); margin-left:-16px; border-bottom:none;">
                        <a ui-sref="findCar" ><div class="col-offset-10" style="float: left;padding: 5px 15px 0 25px;"><img src="images/002_5.png" style="height:40px;width:40px;"><div style="color:#fff; padding-bottom: 5px; margin-left: 4px; margin-top: 15px;">找车</div></div></a>
                        <div  class="col-offset-10"  style="width:1px;margin-left: 36px; height:90px; float: left; background: #fff;"></div>
                        <a ui-sref="personal" ><div class="col-offset-10" style="float: left;padding: 5px 23px 0;"><img src="images/002_6.png" style="height:40px;width:40px;"><div style="color:#fff; margin-left: -11px;margin-top: 17px;padding-bottom: 5px;">个人中心</div></div></a>
                    </div>
                </div>
        </ion-content>
    </ion-nav-view>
</ion-nav-view>

