
<ion-view>
    <ion-header-bar style="text-align: center; background: #344b4a" >
            <a ui-sref="personal"><div class="icon ion-chevron-left" style=" line-height: 38px;font-size: 18px; margin-top: -5px;color:#fff;"> 后退</div></a>
            <h4 style="float: left;margin-top:5px;text-align: center;color: #fff;font-size: 17px; padding-left: 5%" class="col-offset-25">停车记录</h4>
    </ion-header-bar>
    <ion-tabs class="tabs-dark tabs-button-top tabs-top">
        <ion-tab title="历史记录" class="ion ion-dark ">
            <ion-view>
                <ion-content style="background:url('images/003_02.png') no-repeat; background-size: cover;">
                   <div class="list">
                       <div class="item" style="background: rgba(0,0,0,0)">
                           <h2 style="color:#fff;font-size: 18px;">成都伊特洋华堂 (高新店) 停车场</h2>
                           <img src="images/004_09.png" style="height:24px;width:15px; padding-top: 4px; float: left">
                           <p style="float: left;color:#fff; font-size: 15px; padding-top: 5px; padding-left: 10px;">高新区天府二街</p>
                       </div>
                       <div class="item" style="background: rgba(0,0,0,0); border: none; border-bottom: 1px solid #fff;">
                           <h2 style="color:#fff;font-size: 18px;">成都丽都大厦停车场 (春熙路)</h2>
                           <img src="images/004_09.png" style="height:24px;width:15px; padding-top: 4px; float: left">
                           <p style="float: left;color:#fff; font-size: 15px; padding-top: 5px; padding-left: 10px;">春熙路大科甲巷28号</p>
                       </div>
                       <div class="item" style="background: rgba(0,0,0,0);border: none; border-bottom: 1px solid #fff;">
                       <h2 style="color:#fff;font-size: 18px;">成都中医药大学停车场 (温江校区)</h2>
                       <img src="images/004_09.png" style="height:24px;width:15px; padding-top: 4px; float: left">
                       <p style="float: left;color:#fff; font-size: 15px; padding-top: 5px; padding-left: 10px;">温江区柳台大道1230号</p>
                   </div>
                       <div class="item" style="background: rgba(0,0,0,0);border: none; border-bottom: 1px solid #fff;">
                           <h2 style="color:#fff;font-size: 18px;">成都鹏瑞利广场停车场 (光华中心)</h2>
                           <img src="images/004_09.png" style="height:24px;width:15px; padding-top: 4px; float: left">
                           <p style="float: left;color:#fff; font-size: 15px; padding-top: 5px; padding-left: 10px;">青羊区光华大道53号</p>
                       </div>
                       <div class="item" style="background: rgba(0,0,0,0);border: none; border-bottom: 1px solid #fff;">
                           <h2 style="color:#fff;font-size: 18px;">成都体育中心停车场</h2>
                           <img src="images/004_09.png" style="height:24px;width:15px; padding-top: 4px; float: left">
                           <p style="float: left;color:#fff; font-size: 15px; padding-top: 5px; padding-left: 10px;">人民中路一段11号</p>
                       </div>
                   </div>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="收藏夹" class="ion ion-dark" style="line-height: 44px;">
            <ion-view>
                <ion-content style="background:url('images/003_02.png') no-repeat; background-size: cover;">
                    <div class="list">
                        <div class="item" style="background: rgba(0,0,0,0)">
                            <h2 style="color:#fff;font-size: 18px;">成都伊特洋华堂 (高新店) 停车场</h2>
                            <img src="images/004_09.png" style="height:24px;width:15px; padding-top: 4px; float: left">
                            <p style="float: left;color:#fff; font-size: 15px; padding-top: 5px; padding-left: 10px;">高新区天府二街</p>
                        </div>
                        <div class="item" style="background: rgba(0,0,0,0); border: none; border-bottom: 1px solid #fff;">
                            <h2 style="color:#fff;font-size: 18px;">成都丽都大厦停车场 (春熙路)</h2>
                            <img src="images/004_09.png" style="height:24px;width:15px; padding-top: 4px; float: left">
                            <p style="float: left;color:#fff; font-size: 15px; padding-top: 5px; padding-left: 10px;">春熙路大科甲巷28号</p>
                        </div>
                        <div class="item" style="background: rgba(0,0,0,0);border: none; border-bottom: 1px solid #fff;">
                            <h2 style="color:#fff;font-size: 18px;">成都中医药大学停车场 (温江校区)</h2>
                            <img src="images/004_09.png" style="height:24px;width:15px; padding-top: 4px; float: left">
                            <p style="float: left;color:#fff; font-size: 15px; padding-top: 5px; padding-left: 10px;">温江区柳台大道1230号</p>
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>