
<ion-view style="background:url('images/1.jpg') no-repeat;background-size: cover;">
    <ion-content  style="height: 100%;width:100%;">
        <h1 class="title text-center " style="padding-top: 20%; font-size: 45px; line-height: 60px; color:#fff;">欢迎</h1>
        <p class="text-center" style="line-height: 48px;font-size: 25px; color:#fff;">路上有我  伴你同行<br>车位在等你</p>
        <input type="text" ng-model="data.text" class="text-center" style="background:rgba(0,0,0,0); color:#fff;line-height:100%;padding: 20px;font-size: 25px; width:70%; border: 1px solid #10FFE4;border-radius: 39px; margin: auto; margin-bottom: 29px;" placeholder="手机号">
        <input type="text" ng-model="data.yan" class="text-center" style="background:rgba(0,0,0,0); color:#fff;line-height:100%;padding: 20px;font-size: 25px; width:70%; border: 1px solid #10FFE4;border-radius: 39px; margin: auto; margin-bottom: 29px;" placeholder="验证码">
        <input type="password" ng-model="data.password" class="text-center" style="background:rgba(0,0,0,0); color:#fff;line-height:100%;padding: 20px;font-size: 25px; width:70%; border: 1px solid #10FFE4;border-radius: 39px; margin: auto; margin-bottom: 29px;" placeholder="密码">
        <button class="text-center" style="background:#ac927b;color:#FFFFFF;line-height:100%;padding: 8px;font-size: 25px;display: block; width:70%; border: 1px solid #ddd;border-radius: 39px; margin: auto; margin-bottom: 15px;"  ui-sref="signIn">注册</button>
        <div class="col col-offset-20"><a ui-sref="signIn"> <p style="display: inline-block;font-size: 20px;color:#fff;">已有账号登录</p></a></div>
    </ion-content>
</ion-view>
