<ion-header-bar style="text-align: center; background: #344b4a" >
    <a ui-sref="personal"><div class="icon ion-chevron-left" style=" line-height: 38px;font-size: 18px; margin-top: -5px;color:#fff;"> 后退</div></a>
    <h4 style="float: left;margin-top:5px;text-align: center;color: #fff;font-size: 17px; padding-left: 5%" class="col-offset-25">关于我们</h4>
</ion-header-bar>
    <ion-view>
        <ion-content>
            <div class="list" style="background: url('images/04_02.png') no-repeat; background-size: cover; height: 624px;">
                <div class="item item-ion ion-left" style="background: rgba(0,0,0,0);color:#fff; padding-top: 30px;font-size: 23px;border: none;border-bottom: 1px solid #fff;">
                    <ion class="icon ion-compass"></ion>
                    <span >操作指南</span>
                    <ion class="icon ion-chevron-right" style="float: right;"></ion>
                </div>
                <div class="item item-ion ion-left" style="background: rgba(0,0,0,0);color:#fff; padding-top: 30px;font-size: 23px;border: none;border-bottom: 1px solid #fff;">
                    <ion class="icon ion-map"></ion>
                    <span>离线地图</span>
                    <ion class="icon ion-chevron-right" style="float: right;"></ion>
                </div>
                <div class="item item-ion ion-left" style="background: rgba(0,0,0,0);color:#fff; padding-top: 30px;font-size: 23px;border: none;border-bottom: 1px solid #fff;">
                    <ion class="ion-ios-loop-strong"></ion>
                    <span>版本更新</span>
                    <span style="float: right; font-size: 15px;">当前为最新版本V1.0</span>
                </div>
                <div class="item item-ion ion-left" style="background: rgba(0,0,0,0);color:#fff; padding-top: 30px;font-size: 23px;border: none;border-bottom: 1px solid #fff;">
                    <ion class="icon ion-ios-telephone"></ion>
                    <span>客户热线</span>
                    <span style="float: right; font-size: 15px;">90850</span>
                </div>
                <div class="item item-ion ion-left" style="background: rgba(0,0,0,0);color:#fff; padding-top: 30px;font-size: 23px;border: none;border-bottom: 1px solid #fff;">
                    <ion class="icon ion-chatbox-working"></ion>
                    <span>意见反馈</span>
                    <ion class="icon ion-chevron-right" style="float: right;"></ion>
                </div>
            </div>
        </ion-content>
    </ion-view>