<ion-header-bar style="text-align: center; background: #344b4a " class="item-input-inset" >
    <a ui-sref="personal"><div class="icon ion-chevron-left" style=" line-height: 38px; font-size:18px;color:#fff;"> 后退</div></a>
    <span style="text-align: center;font-size: 18px;color:#fff;margin-left: 27%;">我的账号</span>
</ion-header-bar>
<div class="bar bar-subheader" style="background:rgba(0,0,0,0);">
    <div class="button-bar" style="background:rgba(0,0,0,0); font-size: 18px;">
        <a class="button" style="background:rgba(0,0,0,0);color:#fff; border: none;font-size: 18px;">充值</a>
        <a class="button" style="background:rgba(0,0,0,0);color:#fff;border: none;font-size: 18px;">银行卡</a>
        <a class="button" style="background:rgba(0,0,0,0);color:#fff;border: none;font-size: 18px;">优惠券</a>
    </div>
</div>
<ion-view style="background: #1d2625;">
    <ion-content>
        <div class="list">
            <div class="item" style="background: rgba(0,0,0,0);margin-top: 50px;border: 1px solid #fff;">
                <div style="width:80px;height:35px; border: 2px solid #fff; margin-left: 20px; text-align: center;line-height: 35px;color:#fff;">账单明细</div>
                <h2 style="color:#fff; margin-top: 20px;margin-left:20px;">成都伊特洋华堂 (高新店) 停车场<span style="color:#fff; float: right;">-13</span></h2>
                <p style="color:#fff;margin-left: 20px; margin-top: 5px;">2016-8-21<span style="color:#fff;float: right;">交易成功</span></p>
            </div>
            <div class="item" style="background: rgba(0,0,0,0);border: 1px solid #fff;">
                <h2 style="color:#fff; margin-top: 20px;margin-left:20px;">成都丽都大厦停车场 (春熙路)<span style="color:#fff; float: right;">-14</span></h2>
                <p style="color:#fff;margin-left: 20px; margin-top: 5px;">2016-8-22<span style="color:#fff;float: right;">交易成功</span></p>
            </div>
            <div class="item" style="background: rgba(0,0,0,0);border-bottom: 2px solid #fff;">
                <h2 style="color:#fff; margin-top: 20px;margin-left:20px;">成都中医药大学停车场 (温江校区)<span style="color:#fff; float: right;">-15</span></h2>
                <p style="color:#fff;margin-left: 20px; margin-top: 5px;">2016-8-21<span style="color:#fff;float: right;">交易成功</span></p>
            </div>
            <div class="item" style="background: rgba(0,0,0,0);border: 1px solid #fff;">
                <h2 style="color:#fff; margin-top: 20px;margin-left:20px;">成都鹏瑞利广场停车场 (光华中心)<span style="color:#fff; float: right;">-11</span></h2>
                <p style="color:#fff;margin-left: 20px; margin-top: 5px;">2016-8-21<span style="color:#fff;float: right;">交易成功</span></p>
            </div>
            <div class="item" style="background: rgba(0,0,0,0);border: 1px solid #fff;">
                <h2 style="color:#fff; margin-top: 20px;margin-left:20px;">成都体育中心停车场<span style="color:#fff; float: right;">-10</span></h2>
                <p style="color:#fff;margin-left: 20px; margin-top: 5px;">2016-8-21<span style="color:#fff;float: right;">交易成功</span></p>
            </div>
        </div>
    </ion-content>
</ion-view>