<ion-header-bar style="text-align: center; background: #344b4a " class="item-input-inset" >
    <a ui-sref="quick"><div class="icon ion-chevron-left" style=" line-height: 44px; font-size:16px;color:#fff;"> 后退</div></a>
    <div class="item-input-wrapper col-50" style=" margin-left: 15%">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="搜索停车场" >
        <i class="button button-icon ion-android-search" style="font-size: 10px;"></i>
    </div>
    <div class="icon ion-android-menu" style="float: right; font-size: 30px;color: #fff; margin-left: 15%;"></div>
</ion-header-bar>
    <ion-view view-title="预约车位">
        <ion-content style="height: 100%">
            <div class="list" style="height:625px;width:100%;background: url('images/05_02.png') no-repeat; background-size: cover;">

                <div style="margin: 135% auto -142%;text-align: center;">
                    <div class="item" style="height:120px; background: rgba(0,0,0,.5); text-align: center;">
                        <p ng-click="yu()" style="height:50px;width:50px; border-radius: 50%; background: #263f3f;margin:-10px auto;line-height:50px;color:#fff;">导航</p>
                        <p style="color: #fff;font-size: 15px; padding-top: 10px;">成都SBI创业街--停车场<br><span>0.3千米/锦绣大道成都SBI创业街</span></p>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>